[animation="rotate_scale_opacity-out"] {
    animation: rotateScaleOpacityOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

[animation="rotate_scale_opacity-in"] {
    animation: rotateScaleOpacityIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes rotateScaleOpacityOut {
    0% {}

    100% {
        opacity: 0;
    }
}

@keyframes rotateScaleOpacityIn {
    0% {
        opacity: 0;
    }

    100% {}
}

[data-display="true"] {
    display: grid;
}

[data-display="false"] {
    display: none;
}


/* --- cards: --- */

.card {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    background: none;
}


.card[data-open="true"] {
    transform: rotateY(180deg);
}

.front_card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
    backface-visibility: hidden;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotateY(180deg);
}

.back_card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
    backface-visibility: hidden;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}