:root {
    --columns: 0;
    --rows: 0;
}

[animation='rotate_scale_opacity-out']{
    animation: rotateScaleOpacityOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
[animation='rotate_scale_opacity-in']{
    animation: rotateScaleOpacityIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes rotateScaleOpacityOut{
    0% {}
    100% {transform: rotate(360deg) scale(5); opacity: 0;}
}
@keyframes rotateScaleOpacityIn{
    0% {transform: rotate(-360deg) scale(5); opacity: 0;}
    100% {}
}

[data-display="true"]{
    display: grid;
}
[data-display="false"]{
    display: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside#menu {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

main#game-board {
    display: grid;
    grid-template-columns: repeat(var(--columns), 5vw);
    grid-template-rows: repeat(var(--rows), 10vw);
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* .game-container{
    background-image: url(../assests/images/pexels-erik-mclean-6152927.jpg);
} */