:root {
    --columns: 0;
    --rows: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside#menu {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

main#game-board {
    display: grid;
    grid-template-columns: repeat(var(--columns), 5vw);
    grid-template-rows: repeat(var(--rows), 10vw);
    justify-content: center;
    align-items: center;
    gap: 16px;
}